body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}
.widthWrapper{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
.top-div{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
.logoTop{
    height: 31px;
    width: 155px;
    margin-top: 2.5vh;
    margin-left: 5.4vw;
    display: inline-block;
}
.button{
    font-size: 16px;
    float: left;
    margin-right: 2.95%;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
}
.navButtons{
    width: 50%;
    margin-left: 28%;
    display: inline-block;
    margin-bottom: 4px;
}
.sectionsGrey{
    background-color: #f0f0f0;
    width: 100%;
    clear: both;
    padding-bottom: 1vh;
    padding-top: 1px;
}
header{
    background: url("http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/wot-masthead-dark.jpg") center top;
    width: 100vw;
    background-size: cover;
    height: 60%;
    padding-top: 1vh;
    padding-bottom: 8vh;
}
nav{
    position: fixed;
    height: 6vh;
    width: 100%;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.topOfWork{
    color: white;
    position: relative;
    top: 13vh;
    left: 7.5vw;
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    line-height: 22px;
    text-align: left;
}
.mainLogo-div{
     box-sizing: border-box;
     width: 50%;
     height: 415px;
     margin-right: auto;
     margin-left: auto;
}
.bigLogo{
    font-size: 155px;
    color: white;
    font-weight: normal;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    bottom: 2.2vh;
}
.barUnderWork{
    position: relative;
    bottom: 34%;
    left: 8.5%;
}
.leftBar{
    background-color: white;
    color: white;
    position: relative;
    left: 4vw;
    bottom: 1px;
    font-size: 6px;
    border: 1px solid white;
    margin-right: 6.8vw;
}
.smallFont{
    font-size: 18px;
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-right: 1px;
    letter-spacing: 2px;
    position: relative;
    font-weight: bold;
    top: 4px;
    left: 5px;
    line-height: 1.1;
}
.rightBar{
    background-color: white;
    color: white;
    position: relative;
    left: 2.8vw;
    font-size: 6px;
    border: 1px solid white;
    margin-right: 3vw;
}
.header-button:hover{
    background-color: #c4de39;
    border: 4px #c4de39 solid;
    cursor: pointer;
}
.header-button{
    height:40px;
    width: 350px;
    border: 4px #b4ce39 solid;
    background-color: #b4ce39;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 21%;
}
.howItWorks{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.2%;
    font-size: 24px;
    color: #6a787c;
    line-height: 36px;
    letter-spacing: 1px;
    font-weight: 300;
}
.toolImg{
    height: 80px;
    width: 80px;
    position: relative;
    left: 46.5%;
    top: 1vh;
}
.howItWorksBottom{
    font-family: 'Oswald', sans-serif;
    font-size: 42px;
    width: 34%;
    margin-left: auto;
    margin-right: auto;
    color: #6a787c;
    position: relative;
    letter-spacing: 1px;
    margin-bottom: 3vh;
    margin-top: 1%;
}
.learnMore{
    position: relative;
    text-decoration: none;
    color: white;
    left: 39%;
    top: 30%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
}
.greenIcon{
    background-color: #c8e23a;
}
.column{
    float: left;
    min-width: 350px;
    width: 33%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-bottom: 5vh;
    margin-top: 1vh;
}
#centerDiv{
    border-right: 1px #d3d3d3 solid;
    border-left: 1px solid #d3d3d3;
    padding-bottom: 1vh;
}
.iconHolder{
    padding-top: 2vh;
    padding-bottom: 1vh;
}
#middlePara{
    width: 80%;
    padding-top: 5vh;
}
.left-para{
    padding-top: 1vh;
    padding-bottom: 3vh;
}
.center-para{
    font-weight: 100;
    line-height: 140%;
    color: #97a2a7;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    font-size: 18px;
    text-align: center;
}
.center-para-anchor{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #bdd436;
    font-size: 14px;
    padding-top: 2vh;
    text-align: center;
    position: relative;
    left: 1vw;
    bottom: 1vh;
}
.arrowIcon{
    position: relative;
    right: 2vw;
    padding-top: 6vh;
    padding-bottom: 3vh;
}
#rightArrow{
    right: 3vw;
}
.help{
    text-align: center;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    font-size: 42px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    position: relative;
    color: #6a787c;
}
.modify{
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    color: #6a787c;
    text-align: center;
    letter-spacing: 2px;
    position: relative;
    bottom: 5vh;
}
.leftDiv{
    box-sizing: border-box;
    vertical-align: top;
    display: inline-block;
    width: 49%;
    margin-left: auto;
    margin-right: auto;
}
.rightDiv{
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.smallDiv{
    background-color: white;
    display: flex;
}
.smallDiv-para{
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    color: #6a787c;
    text-align: center;
}
.smallDiv-small-para{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #6a787c;
    text-align: center;
    position: relative;
    bottom: 3vh;
    letter-spacing: 1px;
}
.smallDiv1{
    width: 80%;
    height: 110px;
    justify-content: center;
    margin-bottom: 1.5vh;
    margin-left: 6vw;
    padding-top: 1vh;
}
.smallDiv2{
    width: 80%;
    height: 140px;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 6vw;
    margin-bottom: 1.5vh;
}
.smallDiv3{
    width: 80%;
    height: 155px;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 6vw;
}
.smallDiv4{
    padding-top: 1vh;
    width: 80%;
    height: 180px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1.5vh;
    margin-left: 2vw;
}
.smallDiv5{
    margin-left: 2vw;
    width: 80%;
    height: 175px;
    flex-wrap: wrap;
    justify-content: center;
}
#box4{
    padding-top: 1vh;
}
#box5{
    padding-top: 3vh;
}
.contactUs{
    margin-top: 7vh;
    margin-left: auto;
    margin-right: auto;
    height:40px;
    width: 170px;
    border: 5px #b6d03a solid;
    background-color: #b6d03a;
    border-radius: 30px;
}
.contactAnchor{
    text-decoration: none;
}
.contactUs:hover{
    background-color: #c0da39;
    border: 5px #c0da39 solid;
    cursor: pointer;
}
.contactUs-para{
    font-size: 18px;
    text-align: center;
    position: relative;
    bottom: 6px;
    color: white;
}
.companiesWeWork{
    color: #6a787c;
    font-size: 42px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 100;
}
#section3{
    padding-bottom: 6vh;
}
.blocks{
    width: 33.33%;
    height: 450px;
    float: left;
}
.blocks p, img{
    color: white;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    visibility: hidden;
}
.blocks p:hover{
    visibility: visible;
    opacity: .7;
}
.fadeImg{
    height: 40px;
    width: 50px;
    margin-left: 15.2vw;
    margin-top: 15vh;
}
.block1{
    background-image: url("http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/case-studies/AM-portfolio.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.block2{
    background-image: url("http://wideopentech.com/themes/wot-2013-gm/_/img/case-studies/VG-portfolio.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.block3{
    background-image: url("http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/case-studies/CI-portfolio.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.block4{
    background-image: url("http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/case-studies/KF-portfolio.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.block5{
    background-image: url("http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/case-studies/NCMA-portfolio.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.block6{
    background-image: url("http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/case-studies/TS-portfolio.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.letsTalk{
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    color: white;
    display: inline-block;
    margin-left: 5vw;
    padding-top: 5vh;
    margin-top: 4vh;
    letter-spacing: 1px;
}
.EmailUs{
    display: inline-block;
    margin-top: 7vh;
    margin-left: 15.5vw;
    margin-right: auto;
    height:35px;
    width: 130px;
    border: 5px #c8e23a solid;
    border-radius: 30px;
}
.emailUs-para{
    font-size: 16px;
    color: white;
    text-align: center;
    margin-bottom: 1vh;
    font-weight: 700;
    position: relative;
    bottom: .75vh;
}
.EmailUs:hover{
    background-color: #b6d03a;
    cursor: pointer;
}
.smallBarDiv{
    margin-left: 5vw;
    margin-bottom: 4vh;
    position: relative;
    bottom: 4vh;
}
.smallBar{
    width: 2.5vw;
    height: 1px;
    color: #b6d03a;
    background-color: #b6d03a;
    border: 1px solid #b6d03a;
}
.bigPictures{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.leftGray{
    padding-top: 1vh;
    width: 50%;
    height: 660px;
    background-image: url("smallbackground1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
}
.rightGray{
    width: 50%;
    padding-top: 1vh;
    height: 660px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url("smallbackground2.jpg");
    background-position: center;
}
.dark-div-box p{
    color: #f6f6f6;
    text-align: left;
    margin-left: 1vw;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 150%;
}
.dark-div-box-span{
    color: #f6f6f6;
    font-weight: 100;
    text-decoration: none;
}
.dark-div-box h2{
    color: #b6d03a;
    margin-left: 1vw;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    position: relative;
    top: 2.75vh;
}
.dark-div-box{
    padding-bottom: 2vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22vh;
    height: 165px;
    background: rgba(0, 0, 0, 0.56);
    width: 65%;
}
.privacy{
    color: #6A787C;
    font-size: 13px;
    letter-spacing: 1px;
    padding-bottom: 1vh;
}
.private-anchor{
    color: #bdd537;
    text-decoration: none;
    font-size: 10px;
    letter-spacing: 1px;
}
.leaveMessage{
    display: inline-block;
    position: fixed;
    margin-top: 7vh;
    height:45px;
    width: 160px;
    border: 5px #c8e23a solid;
    border-radius: 5px;
    left: 89.5vw;
    top: 85.5vh;
}
.leaveMessage-para{
    color: white;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    position: relative;
    font-weight: 300;
    top: 6px;
    left: 10px;
}